
<h4>
    @{

        ViewData["Title"] = "Registrar Producto";

    }
</h4>
<h4>@ViewData["Title"]</h4>
<h4>@ViewData["Message"]</h4>

<br />
<br />
<script type="text/javascript" language="javascript">

    function get_loc() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(coordenadas);
        } else {
            alert('Este navegador es algo antiguo, actualiza para usar el API de localización');
        }
    }


    function coordenadas(position) {
        var lat = position.coords.latitude;
        var lon = position.coords.longitude;

    }
</script>



<title>Registro de calidad de producto.</title>


<!-- Contenido de reporte -->
<div class="container">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a>Información del producto</a>
                </h4>
            </div>
           
               
            
                <div class="panel-body">
                    <div class="form-group">
                        <label for="codReportLabel">Ruta:</label>


                        @{
                            SelectList routelist = new SelectList(new List<SelectListItem>());
                            routelist = ViewBag.routelist;

                        }

                        @Html.DropDownList("RouteID", routelist)
                           <br>
                        <label for="sel1">Comercio:</label>
                        @{
                            SelectList list = new SelectList(new List<SelectListItem>());
                            list = ViewBag.Storelist;

                        }

                        @Html.DropDownList("StoreID", list)

                        <br>
                        <label for="sel1">Producto:</label>
                        @{
                            SelectList itemlist = new SelectList(new List<SelectListItem>());
                            itemlist = ViewBag.itemlist;

                        }

                        @Html.DropDownList("ItemID", itemlist)

                    </div>
                </div>

                <label for="sel1">Atributos de calidad:</label>
                <br>
                @{
                    SelectList checklist = new SelectList(new List<SelectListItem>());
                    checklist = ViewBag.checklist;
                    foreach (var item in checklist)
                    {
                      
                        @item.Text  @Html.Label("Si")  <input type = "checkbox" id = "@item.Value" value = "gusta" ><br />
                            }
                }

                
                    <label for="comment">Comentario:</label>
                    <textarea class="form-control" rows="2" id="comment"></textarea>
                
             
                    <div>

                        
                            <label for="sel1">Fotografía:</label>

                            <div class="divTableCell">
                              
                                        <video id="video" width="240" height="240" autoplay class="centercontrols"></video>
                                    

                                <button id="snap" class="btn btn-success centercontrols" data-toggle="modal" data-target="#myModal">Continuar</button>

                            </div>
                        </div>
                   
                
            </div>
          

        </div>
    </div>
</div>



<div class="container">
   
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title">Reporte enviado exitosamente</h1>
                    <h4 class="modal-title">Fotografía</h4>
                </div>
                <div class="modal-body">
                    <div class="divTableRow">
                        <div class="divTableCell">
                            
                            <canvas id="canvas" width="240" height="240" class="centercontrols"></canvas>
                        </div>
                        
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>

            </div>

        </div>
    </div>
</div>

<script>
    // Put event listeners into place
    window.addEventListener("DOMContentLoaded", function () {
        // Grab elements, create settings, etc.
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        var video = document.getElementById('video');
        var mediaConfig = { video: true };
        var errBack = function (e) {
            console.log('An error has occurred!', e)
        };

        // Put video listeners into place
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({
                video: true
            })
                .then(function (stream) {
                    video.srcObject = stream;
                })
                .catch(function (error) {
                    console.log('error', error);
                });

        }



        /* Legacy code below! */
        else if (navigator.getUserMedia) { // Standard
            navigator.getUserMedia(mediaConfig, function (stream) {
                video.src = stream;
                video.play();
            }, errBack);
        } else if (navigator.webkitGetUserMedia) { // WebKit-prefixed
            navigator.webkitGetUserMedia(mediaConfig, function (stream) {
                video.src = window.webkitURL.createObjectURL(stream);
                video.play();
            }, errBack);
        } else if (navigator.mozGetUserMedia) { // Mozilla-prefixed
            navigator.mozGetUserMedia(mediaConfig, function (stream) {
                video.src = window.URL.createObjectURL(stream);
                video.play();
            }, errBack);
        }

        // Trigger photo take
        document.getElementById('snap').addEventListener('click', function () {
            context.drawImage(video, 25, 0, 250, 200);
        });
    }, false);

    javascript: get_loc();

</script>

