@model StoreReport.Models.Franchise

@{
    ViewData["Title"] = "Eliminar fraquicia";
}
<br />
<br />
<br />
<h1>Esta seguro que desea eliminar la franquicia?</h1>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="FranchiseID" />
        <input type="submit" value="Eliminar" class="btn btn-success" /> |
        <a asp-action="Index">Retornar a la lista</a>
    </form>
</div>
