@model IEnumerable<StoreReport.Models.UserByRoute>

@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<br />

<main>
    <div class="divTableBody">
        <div class="divTableRow">
            <div class="divTableCell">
                <br>
                <h1>Rutas por Usuario</h1>

                <h2>
                    <a asp-action="Create">Asignar un nuevo usuario por ruta</a>
                </h2>
            </div>
        </div>
    </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Correo
                    </th>
                    <th>
                        Ruta Asignada
                    </th>
                    <th>
                        Creado por
                    </th>
                    <th>
                        Fecha Creación
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>


                            @{
                                SelectList list = new SelectList(new List<SelectListItem>());
                                list = ViewBag.routelist;
                                foreach (SelectListItem vItem in list)
                                {
                                    @if (vItem.Value.Equals(item.RouteId.ToString()))
                                    {
                                        <label>@vItem.Text</label>
                                    }
                                }
                            }

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.UserByRouteID">Editar</a> |
                            <a asp-action="Delete" asp-route-id="@item.UserByRouteID">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
        </div>
</main>