@model StoreReport.Models.StoresByRoute

@{
    ViewData["Title"] = "Eliminar Supermercado por Ruta";
}

<h2>Eliminar</h2>

<h3>Esta seguro que desea eliminar el Supermercado por Ruta?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            Id Supermercado
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StoreID)


        </dd>
        <dt>
           Nombre supermercado
        </dt>
        <dd>
            @{

                SelectList list2 = new SelectList(new List<SelectListItem>());
                list2 = ViewBag.storelist;
                foreach (SelectListItem vItem in list2)
                {
                    @if (vItem.Value.Equals(Model.StoreID.ToString()))
                    {
                        <label>@vItem.Text</label>
                        }
                    }
            }
        </dd>
        <dt>
           Id ruta
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RouteID)
        </dd>
        <dt>
           Nombre de la ruta
        </dt>
        <dd>
            @{

               SelectList list3 = new SelectList(new List<SelectListItem>());
                list3 = ViewBag.routelist;
                foreach (SelectListItem vItem in list3)
                {
                    @if (vItem.Value.Equals(Model.RouteID.ToString()))
                        {
                        <label>@vItem.Text</label>
                    }
                }
            }
        </dd>
        <dt>
            Creado por
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            Fecha de creación
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>    
        <dt>
            Días de visita
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DaysOfWeek)
        </dd>
    </dl>
    
    <form asp-action="Eliminar">
        <input type="hidden" asp-for="StoresByRouteID" />
        <input type="submit" value="Eliminar" class="btn btn-success" /> |
        <a asp-action="Index">Retornar a la lista</a>
    </form>
</div>
