@model StoreReport.Models.StoresByRoute

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>StoresByRoute</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StoreID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StoreID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RouteID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RouteID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RouteName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RouteName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StoresByRouteID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
