@model StoreReport.Models.Item

@{
    ViewData["Title"] = "Eliminar el producto";
}
<br />
<br />
<br />

    <h1>Esta seguro que desea borrar el producto?</h1>
    <div>
     
        <dl class="dl-horizontal">
            <dt>
                Código de producto
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ProductCode)
            </dd>
            <dt>
                Nombre del producto
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                Descripción
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                Fecha Creación
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
            <dt>
                Creado por
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
            <dt>
                Tipo de producto
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ProductTypeID)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ItemID" />
            <input type="submit" value="Eliminar" class="btn btn-success" /> |
            <a asp-action="Index">Retornar a la lista</a>
        </form>
    </div>
